<router-outlet></router-outlet>

<h1>import dialog</h1>

<hr>

<h2>Lazy loading components (not lazy loading routes)</h2>
<app-dialog></app-dialog>

<hr>

<h2>Dynamic component rendering</h2>
<p>Imaginez que vous vouliez afficher un composant différent en fonction d'une condition</p>
<p>autre solution que d'utiliser: *ngIf</p>

<app-dynamic-render></app-dynamic-render>

<hr>

<h2>auto unsubscribe decorator</h2>

<app-auto-unsubscribing></app-auto-unsubscribing>

<hr>

<h2>Reducing super() calls when inheriting</h2>

<app-reducing-super></app-reducing-super>
